* {
    box-sizing: border-box
}

table {
    border-collapse: collapse;

}
#gameContainer {
    display: inline-block;
}
#moves {
    width: 100%;
    display: block;
    margin: 0 auto;
    height: 50px;
    text-align: center;
}
table,
tr,
td {
    padding: 0;
    text-align: center;
    position: relative;
}
.field-id {
    position: absolute;
    font-size: 12px;
    bottom: 5px;
    right: 5px;
}
.field-convert {
    position: absolute;
    font-size: 12px;
    bottom: 5px;
    left: 5px;
}

td,
th {
    border: solid black 1px;
    width: 100px;
    height: 100px;
    font-size: 40px;
    line-height: 1;
}
td:hover {
    cursor: pointer;
}
th {
    font-size: 20px;
    vertical-align: middle;
    text-align: center;
}

.black {
    background: #ddd;
}

.selected {
    background-color: #f4d4d4
}

#errors {
    color: red;
    font-size: 18px;
}
